<%- include ("../../partials/header.ejs") %>
<body>
    <%- include ("../../partials/navbar.ejs") %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edição de categorias</h2>
            </div>
            <div class="card-body">
                <form action="/categories/update" method="POST">
                    <input type="text" class="form-control" name="title" value="<%= category.title %> " placeholder="Defina o título da categoria"><br>
                    <input type="hidden" name="id" value="<%= category.id %> ">
                    <button type="submit" class="btn btn-success">Atualizar</button>
                    <a class="btn btn-primary" href="/admin/categories">Voltar</a>
                </form>
            </div>
        </div>
    </div> 
</body>
<%- include ("../../partials/footer.ejs") %> 